<article class="deviceslist">
  <section class="layout">
    <div class="devices">
      <% devices.forEach(function(item) { %>
        <article class="device group">
          <h3><%= item.title %> <span class="small">with
            <a href="/devices/<%= item.deviceName %>">
            <%= item.deviceName %></a><span></h3>
            <p><a href="/devices/<%= item.deviceName %>">
              <img class="device" src="/images/devices/<%= item.imgname %>" alt="Photo of <%= item.deviceName %>"></a>
            
            </a></p>
        </article>
      <% }); %>
    </div>
  </section>
</article>