<!DOCTYPE html>
<html>
<head><% include partials/page/head.ejs %></head>
 
  <body class="<%= classname %>">
  	<% include partials/page/header.ejs %>
	   <nav class="navbar navbar-default navbar-fixed-top">
	      <div class="container">
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a class="navbar-brand" href="#"><img src="/images/fit_logo.png" width="399px" height="125px" alt="Fit Tracker Logo" /></a>
	        </div>
	        <div id="navbar" class="collapse navbar-collapse">
	          <ul class="nav navbar-nav navbar-right">
	         	<li id="linkHome" class="active-link"><a href="#">Home</a></li>
				<li id="linkTop" class="inactive-link"><a href="/toprated">Top Rated</a></li>
				<li id="linkall" class="inactive-link"><a href="/alltrackers">All Trackers</a></li>
				<li id="linkadd" class="inactive-link"><a href="/addtrackers">Add Tracker</a></li>
				<li id="linkrate"class="inactive-link"><a href="/ratetrackers">Rate Tracker</a></li>
				<li id="linkcontact"class="inactive"><a href="/contact">Contact</a></li>
	   	          </ul>
	        </div><!--/.nav-collapse -->
	      </div>
	    </nav>
	  	<div id="mainContent" class="container">
		    <h1>Welcome to <%= title %></h1>
			<div id="featuredBg">
				<h2>Featured Device - <strong><%= device %></strong></h2>
	      		<div id="featureDesc" class="feature-content">
	      			<p><%= description %></p>
	      			<p><%= description2 %></p>
	      			<p><a href="<%= source %>" target="_blank">Source</a></p>
	      			<img src="<%= imageMain %>" alt="Fit Bit HR" width="500px" height="174px"/>
	      		</div>
	      		<div id="featureImage"><img src="<%= imageSecondary %>" alt="Fit Bit HR" height="478px" width="200px"/></div>
	      		<div class="clear"></div>
			</div>
	    </div>
	 	<div id="footer">
	   <% include partials/page/footer.ejs %>
	   </div>
	 <% include partials/page/jsdefaults.ejs %>
  </body>
</html>
