<!DOCTYPE html>
<html>
<head><% include partials/page/head.ejs %></head>
 
  <body class="<%= classname %>">
  	<% include partials/page/header.ejs %>

    <script type="text/javascript">
      window.addEventListener('load', function(){
    //     alert('<%= users %>');
     //    var usersData = '<%= users %>';
         console.log(exports.users)
       })

       function validateForm(){
        var username = document.getElementById('username').value;
        var password = document.getElementById('password').value;
        
        
        var users = [];
       // users.push(<%= users %>);
      //  console.log(users[0].username);
        
        if ( username == "test" && password == "test"){
            $("#validError").removeClass("show-error");
            $("#validError").addClass("hide-error");
            document.getElementById("username").value = '';
            document.getElementById("password").value = '';
            location.href = "/home";
          return false;
          }
          else{
            $("#validError").removeClass("hide-error");
            $("#validError").addClass("show-error");
        }
      }

  </script>

  	<div class="container form-container">
	<!--  <form class="form-signin" action="/login" method="post"> -->
  <form class="formSignin" name="formSignin"> 
  <div id="usersContent"><%= users %></div> 
      <div class="formBg">
         <div class="formLogo"><img src="/images/fit_logo_sm.png" width="250px" height="78px" alt="Fit Tracker Logo" /></div>
         <h2 class="form-signin-heading">Sign In</h2>
          <label for="inputEmail" class="sr-only">Email address</label>
          <input type="text" id="username" name="username" class="form-control" placeholder="Username" required autofocus>
          <label for="inputPassword" class="sr-only">Password</label>
          <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
          <input type="button" value="Login" name="Submit" onclick="validateForm()">
          <div id="validError" class="error-text hide-error">Invalid Username/Password. Please try again.</div>
        <!--  <button id="btnSignin" class="btn btn-lg btn-block" type="submit" onclick="return validateForm()"><a href="/home">Sign in</a></button> -->
        </div>
      </form>
      <div class="forgotLink">
      	<a href="/forgot">Forgot Password</a>
 		</div>
      </div>
	 	<div id="footer">
	   <% include partials/page/footer.ejs %>
	   </div>
	 <% include partials/page/jsdefaults.ejs %>
  </body>
</html>
